@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

.field,.title,.subtitle{
  text-align: center;
}
.Searchcontainer{
  background: lightgrey;
  width: auto;
  border-radius: 15px;
}

.city{
  margin: 0 0 10px 0;
  width: 400px;
  height: 30px;
  border-radius: 10PX;
  text-align: center;
  font-weight: bold;
}

/* footer{
  background: lightgrey;
  width: auto;
  border-radius: 15px;
  text-align: center;
} */
